.card {
  background-color: rgb(60, 31, 87);
  /* #eeeeee; */
  height: 350px;
  width: 400px;
  box-shadow: 10px 10px purple;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.main {
  text-align: center;
}
img {
  height: 250px;
  width: 300px;
  object-fit: cover;
}

body {

  background-image: url("images/vidify_logo.png");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


div {

  color: black;
}
h2 {
  color: orange;
}

h1 {
  color: orange;
}
